        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-image: url(pattern-background-colorful-shape.jpg);
            line-height: 1.6;
        }
        
        .container {
            background: url(istockphoto-956840842-612x612.jpg);
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(132, 123, 123, 0.1);
            margin-top: 100px;
        }
        
        h1 {
            color: #2c3e50;
            text-align: center;
            margin-bottom: 10px;
        }
        p,form,button{
            text-align: center;
        }
        button{
            padding: 10px 15px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        #num{
            flex-direction: column;
        }
        #btn{
            margin-left: 350px;
            margin-top: 20px;
        }
        #result{
            margin-left: 250px;
            margin-right: 250px;
            padding: 5px;
        }
